@import "../styles/variables.scss";

.on-dark {
  font-family: $font-family-normal;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  line-height: $line-spacing-large;
  letter-spacing: $character-spacing-large;
  color: $light;
}

.on-light {
  font-family: $font-family-normal;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  line-height: $line-spacing-large;
  letter-spacing: $character-spacing-large;
  color: $dark-blue;
}
