:root {
  /* Colors: */
  --brand-blue: #087BEF;
  --dark: #051F3E;
  --dark-blue: #003472;
  --light: #FEFEFE;
  --light-blue: #D9E4FF;
  --light-camel: #FFF6EB;
  --dark-highlight: #1E3652;
  --light-highlight: #BECBDB;

  /* Font/text values */
  --font-family-normal: Helvetica Neue;
  --font-style-normal: normal;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-weight-medium: medium;
  --font-size-small: 24px;
  --font-size-normal: 28px;
  --font-size-large: 52px;
  --character-spacing-small: -0.48px;
  --character-spacing-normal: -0.56px;
  --character-spacing-large: -1.04px;
  --line-spacing-small: 40px;
  --line-spacing-normal: 45px;
  --line-spacing-large: 64px;
}

/* Character Styles */
.header-on-dark {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-spacing-large);
  letter-spacing: var(--character-spacing-large);
  color: var(--light);
}

.header-on-light {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-large);
  line-height: var(--line-spacing-large);
  letter-spacing: var(--character-spacing-large);
  color: var(--dark-blue);
}

.filled-input-text {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-spacing-normal);
  letter-spacing: var(--character-spacing-normal);
  color: var(--light-highlight);
}

.paragraph-on-dark {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-spacing-normal);
  letter-spacing: var(--character-spacing-normal);
  color: var(--light);
}

.paragraph-on-light {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-normal);
  line-height: var(--line-spacing-normal);
  letter-spacing: var(--character-spacing-normal);
  color: var(--dark);
}

.filled-button-text {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-normal);
  line-height: var(--line-spacing-small);
  letter-spacing: var(--character-spacing-normal);
  color: var(--light);
}

.small-on-dark {
  font-family: var(--font-family-normal);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-small);
  line-height: var(--line-spacing-small);
  letter-spacing: var(--character-spacing-small);
  color: var(--light);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
