@import "./variables.scss";

/* Character Styles */
.filled-input-text {
  font-family: $font-family-normal;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  line-height: $line-spacing-normal;
  letter-spacing: $character-spacing-normal;
  color: $light-highlight;
}

.filled-button-text {
  font-family: $font-family-normal;
  font-style: $font-style-normal;
  font-weight: $font-weight-medium;
  font-size: $font-size-normal;
  line-height: $line-spacing-small;
  letter-spacing: $character-spacing-normal;
  color: $light;
}

.small-on-dark {
  font-family: $font-family-normal;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  line-height: $line-spacing-small;
  letter-spacing: $character-spacing-small;
  color: $light;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background: $light;
  box-shadow: 0px 5px 10px rgba($dark, 0.25);
  z-index: 2;
  padding: $sizing-normal $sizing-large;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

main {
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: $sizing-normal $sizing-large;
  background: $dark;
}
