/* Colors: */
$brand-blue: #087BEF;

$dark: #051F3E;
$dark-blue: #003472;
$dark-highlight: #1E3652;

$light: #FEFEFE;
$light-blue: #D9E4FF;
$light-camel: #FFF6EB;
$light-highlight: #BECBDB;

/* Font/text values */
$font-family-normal: Helvetica Neue;
$font-style-normal: normal;

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-medium: medium;

$font-size-small: 24px;
$font-size-normal: 28px;
$font-size-large: 52px;

$character-spacing-small: -0.48px;
$character-spacing-normal: -0.56px;
$character-spacing-large: -1.04px;

$line-spacing-small: 40px;
$line-spacing-normal: 45px;
$line-spacing-large: 64px;

/* Sizing values */
$sizing-small: 10px;
$sizing-normal: 20px;
$sizing-large: 40px;
$sizing-xlarge: 130px;

/* Breakpoint values */
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;
